.header {
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
  height: 140px;
}

.logo h1 {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(9, 109, 47);
  font-size: 28px;
}

body {
  background-color: rgb(224, 246, 224);
  font-family: "Patrick Hand SC", cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

input:focus::placeholder {
  color: transparent;
}

.input input[type="search"],
.input button {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.input input[type="search"] {
  margin-right: 20px;
  margin-left: 20px;
  flex-grow: 1;
  font-size: 24px;
  max-width: 480px;
}

#searchButton {
  font-size: 36px;
  background-color: transparent;
  border: none;
  margin-right: -20px;
  cursor: pointer;
}

#clearButton {
  font-size: 36px;
  background-color: transparent;
  border: none;
  margin-left: -20px;
  cursor: pointer;
}

footer {
  padding: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #333;
  margin-top: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  color: red;
}

.results-container img {
  margin: 20px;
}

/* Media queries for responsive design */

@media (max-width: 480px) {
  .logo {
    justify-content: center;
  }

  .logo h1 {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }

  .container {
    padding-top: 30px;
  }

  .input {
    flex-direction: column;
    align-items: stretch;
  }

  .input input[type="search"],
  .input button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #searchButton {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }

  #clearButton {
    margin-left: 0;
    font-size: 24px;
  }

  footer {
    padding: 30px;
    font-size: 14px;
  }
}
