.header {
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 100px;
}

.logo h1 {
  margin-top: 10px;
  color: rgb(9, 109, 47);
  font-size: 20px;
}

body {
  background-color: rgb(224, 246, 224);
  font-family: "Patrick Hand SC", cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.container h1 {
  font-size: 25px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

input:focus::placeholder {
  color: transparent;
}

.input input[type="search"],
.input button {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.input input[type="search"] {
  margin-right: 20px;
  margin-left: 20px;
  flex-grow: 1;
  font-size: 15px;
  max-width: 480px;
}

#imageSearchButton {
  font-size: 20px;
  background-color: transparent;
  margin-right: -20px;
  cursor: pointer;
}
#videoSearchButton {
  font-size: 20px;
  background-color: transparent;
  margin-right: -20px;
  cursor: pointer;
}

#clearImageButton {
  font-size: 20px;
  background-color: transparent;
  margin-left: 20px;
  cursor: pointer;
}

#clearVideoButton {
  font-size: 20px;
  background-color: transparent;
  margin-left: 20px;
  cursor: pointer;
}

footer {
  padding: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  margin-top: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  color: red;
}

.results-container img {
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.results-container video {
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
